{% extends 'tracker/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<article class="post">
    <h2>Go to:</h2>
    <ul>
       <li><h2><a href="{% url 'training_list' %}">My trainings</a></h2></li>
       <li><h2><a href="{% url 'meal_list' %}">My meals</a></h2></li>
       <li><h2><a href="{% url 'unit_list' %}">My ingredients</a></h2></li>
    </ul>
</article>
{% else %}
<h3>Calisthenics training and nutrition tracking system</h3>
<style>
footer {
    bottom: 0;
    text-align: left;
    position: fixed;
    padding: 3px;
    color: black;
}
</style>
<footer>
    <p>by <a href="https://konstantinosalatzas.github.io">Konstantinos Alatzas</a></p>
</footer>
{% endif %}
{% endblock %}