{% extends 'tracker/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'ingredient_edit' pk=ingredient.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                <a class="btn btn-secondary" href="{% url 'ingredient_remove' pk=ingredient.pk %}" onclick="return confirm('Remove this ingredient?');">
                    {% include './icons/trash-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        <h2>
            <a class="btn btn-secondary" href="{% url 'meal_detail' pk=ingredient.meal.pk %}">
                {% include './icons/arrow-left.svg' %}
            </a>
            {{ ingredient.name }}
        </h2>
        <br>
        <p><i>in <a href="{% url 'meal_detail' pk=ingredient.meal.pk %}">{{ ingredient.meal.title }} @ {{ ingredient.meal.meal_date }}</a></i><p>
        <p>Quantity: {{ ingredient.quantity|linebreaksbr }} {{ ingredient.unit.unit_of_measurement|linebreaksbr }}</p>
        <p>Protein: {{ ingredient.protein|linebreaksbr }} g</p>
        <p>Carbohydrates: {{ ingredient.carbs|linebreaksbr }} g</p>
        <p>Fats: {{ ingredient.fats|linebreaksbr }} g</p>
        <p>Calories: {{ ingredient.kcal|linebreaksbr }} kcal</p>
    </article>
{% endblock %}