{% extends 'tracker/base.html' %}

{% block content %}
    <h2>
        <a class="btn btn-secondary" href="{% url 'index' %}">
            {% include './icons/arrow-left.svg' %}
        </a>
        My meals:
    </h2>
    <br>
    {% for meal in meals %}
        <article class="post">
            <time class="date">
                {{ meal.published_date }}
            </time>
            <h2><a href="{% url 'meal_detail' pk=meal.pk %}">{{ meal.title }}</a></h2>
            <p><i>at {{ meal.meal_date|linebreaksbr }}</i></p>
            <p><i>Protein: {{ meal.protein|linebreaksbr }} g, Carbohydrates: {{ meal.carbs|linebreaksbr }} g, Fats: {{ meal.fats|linebreaksbr }} g, Calories: {{ meal.kcal|linebreaksbr }} kcal</i></p>
        </article>
    {% empty %}
        <p><i>Tip: Begin by adding ingredients and then tracking meals!</i></p>
    {% endfor %}
{% endblock %}