{% extends 'tracker/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a href="{% url 'ingredient_new' pk=meal.pk %}" class="btn btn-secondary">
                    {% include './icons/plus-circle-fill.svg' %}
                </a>
                <a class="btn btn-secondary" href="{% url 'meal_edit' pk=meal.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                <a class="btn btn-secondary" href="{% url 'meal_remove' pk=meal.pk %}" onclick="return confirm('Remove this meal?');">
                    {% include './icons/trash-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if meal.published_date %}
            <div class="date">
                {{ meal.published_date }}
            </div>

            {% else %}
            <aside class="actions">
                <a class="btn btn-secondary" role="button" href="{% url 'meal_publish' pk=meal.pk %}">Publish</a>
            </aside>
        {% endif %}
        <h2>
            <a class="btn btn-secondary" href="{% url 'meal_list' %}">
                {% include './icons/arrow-left.svg' %}
            </a>
            {{ meal.title }} ({{ meal.meal_date|linebreaksbr }})
        </h2>
        <br>

        <p>Meal #{{ meal.meal_number|linebreaksbr }} of the day</p>
        <p>Protein: {{ meal.protein|linebreaksbr }} g, Carbohydrates: {{ meal.carbs|linebreaksbr }} g, Fats: {{ meal.fats|linebreaksbr }} g, Calories: {{ meal.kcal|linebreaksbr }} kcal</p>

        {% block subcontent %}
            {% for ingredient in ingredients %}
                <article class="post">
                    <h2><a href="{% url 'ingredient_detail' pk=ingredient.pk %}">{{ ingredient.name|linebreaksbr }}</a></h2>
                    <p>{{ ingredient.quantity|linebreaksbr }} {{ ingredient.unit|linebreaksbr }}</p>
                    <p>Protein: {{ ingredient.protein|linebreaksbr }} g, Carbohydrates: {{ ingredient.carbs|linebreaksbr }} g, Fats: {{ ingredient.fats|linebreaksbr }} g, Calories: {{ ingredient.kcal|linebreaksbr }} kcal</p>
                </article>
            {% endfor %}
        {% endblock %}

    </article>
{% endblock %}