{% extends 'tracker/base.html' %}

{% block content %}
    <h2>
        <a class="btn btn-secondary" href="{% url 'index' %}">
            {% include './icons/arrow-left.svg' %}
        </a>
        My meals:
    </h2>
    <br>
    <form action="{% url 'meal_list' %}" method="get">
        <input name="date" type="date">
        <button type="submit">Go</button>
        <a href="{% url 'meal_list' %}"><button type="button">Reset</button></a>
    </form>
    <br>
    {% if protein %}
        <p>Total values of the day:</p>
        <p>Protein: {{ protein|linebreaksbr }} g, Carbohydrates: {{ carbs|linebreaksbr }} g, Fats: {{ fats|linebreaksbr }} g, Fiber: {{ fiber|linebreaksbr }} g, Sodium: {{ sodium|linebreaksbr }} g, Calories: {{ kcal|linebreaksbr }} kcal, Cost: {{ cost|linebreaksbr }} €</p>
    {% endif %}
    {% for meal in meals %}
        <article class="post">
            <time class="date">
                {{ meal.published_date }}
            </time>
            <h2><a href="{% url 'meal_detail' pk=meal.pk %}">{{ meal.title }}</a></h2>
            <p><i>at {{ meal.meal_date|linebreaksbr }}</i></p>
            <p><i>Protein: {{ meal.protein|linebreaksbr }} g, Carbohydrates: {{ meal.carbs|linebreaksbr }} g, Fats: {{ meal.fats|linebreaksbr }} g, Calories: {{ meal.kcal|linebreaksbr }} kcal</i></p>
        </article>
    {% empty %}
        <p><i>Tip: Begin by adding ingredients and then tracking meals</i></p>
    {% endfor %}
{% endblock %}