{% extends 'tracker/base.html' %}

{% block content %}
    <h2>
        <a class="btn btn-secondary" href="{% url 'index' %}">
            {% include './icons/arrow-left.svg' %}
        </a>
        My trainings:
    </h2>
    <br>
    {% for training in trainings %}
        <article class="post">
            <time class="date">
                {{ training.published_date }}
            </time>
            <h2><a href="{% url 'training_detail' pk=training.pk %}">{{ training.title }}</a></h2>
            <p><i>at {{ training.training_date|linebreaksbr }}</i></p>
            <p><i>Sets: {{ training.sets|linebreaksbr }} </i></p>
        </article>
    {% empty %}
        <p><i>Tip: Begin by tracking trainings!</i></p>
    {% endfor %}
{% endblock %}